spring_profiles_active=local
SOPS_AGE_KEY=...

SECURITY_TEAM_PUBLIC_KEY=...
SECURITY_PLATFORM_PUBLIC_KEY=...
BACKEND_PUBLIC_KEY=...

### Image build args ###
# (optional) The default image is currently not compatible with M4 Mac architecture.
# These args may be used to specify a compatible image.
# "amazoncorretto" has worked so far.
# BUILD_IMAGE=amazoncorretto:23.0.2-alpine
# IMAGE=amazoncorretto:23.0.2-alpine