services:
  app:
    build:
      context: .
      args:
        # Loads args from the .env file.
        BUILD_IMAGE: ${BUILD_IMAGE:-eclipse-temurin:25.0.2_10-jre-ubi10-minimal}
        IMAGE: ${IMAGE:-eclipse-temurin:25.0.2_10-jre-ubi10-minimal}
    ports:
      - "8084:8084"
    env_file:
      - .env
