name: Build and deploy to SKIP
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths-ignore:
      - docker-compose.yaml
      - README**
      - .github/CODEOWNERS
      - '.security/**'
      - '.gitignore'
  push:
    paths-ignore:
      - docker-compose.yaml
      - README**
      - .github/CODEOWNERS
      - '.security/**'
      - '.gitignore'
    branches:
      - main

permissions:
  id-token: write
  contents: write

env:
  REGISTRY: ghcr.io
  ARGO_VERSION_FILE: image-url-crypto-service
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    name: Build and push docker image
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    outputs:
      image_url: ${{ steps.setOutput.outputs.image_url }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '24'
          architecture: 'x64'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: "8.14.3" # Quotes required to prevent YAML converting to number

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v3

      - name: Execute Gradle build
        run: ./gradlew build -x smokeTest

      - name: Set tag
        id: set-tag
        env:
          BRANCH: ${{ github.ref_name }}
        run: |
          if [[ "$BRANCH" == "main" || "$BRANCH" == "master" ]]; then
            echo "image_tag=latest" >> $GITHUB_OUTPUT
          else
            echo "image_tag=prebuild-temp" >> $GITHUB_OUTPUT
          fi

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,format=long
            type=raw,value=${{ steps.set-tag.outputs.image_tag }}

      - name: Build docker and push
        id: build-docker
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Start container
        run:  docker run -d --name ${{ steps.build-docker.outputs.digest }} -p 8081:8081 -p 8080:8080 -e SOPS_AGE_KEY=etc/bin -e SOPS_VERSION=3.11.0 ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{ steps.build-docker.outputs.digest }}

      - name: GET healthcheck with curl
        run: |
          curl -X GET \
            https://0.0.0.0/actuator/health > response.txt

      - name: Stop container
        run: docker stop ${{ steps.build-docker.outputs.digest }}

      - name: Set output with build values
        id: setOutput
        run: |
          echo "image_url=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{ steps.build-docker.outputs.digest }}" >> $GITHUB_OUTPUT  

  pharos:
    name: Run Pharos on docker image
    needs: build
    permissions:
      actions: read
      packages: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - name: "Run Pharos"
        uses: kartverket/pharos@v0.4.1
        with:
          image_url: ${{ needs.build.outputs.image_url }}

  dev-deploy-argo:
    name: Deploy to dev
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: dev
    permissions:
      id-token: write
    steps:
      - uses: octo-sts/action@6177b4481c00308b3839969c3eca88c96a91775f # v1.0.0
        id: octo-sts
        with:
          scope: kartverket/skvis-apps
          identity: crypto-service
      - name: Checkout skvis-apps
        uses: actions/checkout@v4
        with:
          repository: kartverket/skvis-apps
          ref: main
          token: ${{ steps.octo-sts.outputs.token }}
      - name: Update version
        run: |
          echo "\"${{ needs.build.outputs.image_url }}\"" > "env/atgcp1-dev/ros-plugin-main/${{ env.ARGO_VERSION_FILE }}"
          git config --global user.email "noreply@kartverket.no"
          git config --global user.name "Backstage Plugin Risk Scorecard Backend CI"
          git commit -am "Update ros-backend ${{ env.ARGO_VERSION_FILE }}"
          git push

  prod-deploy-argo:
    name: Deploy to prod
    if: github.ref == 'refs/heads/main'
    needs: [build, dev-deploy-argo]
    runs-on: ubuntu-latest
    environment:
      name: prod
    permissions:
      id-token: write
    steps:
      - uses: octo-sts/action@6177b4481c00308b3839969c3eca88c96a91775f # v1.0.0
        id: octo-sts
        with:
          scope: kartverket/skvis-apps
          identity: crypto-service
      - name: Checkout skvis-apps
        uses: actions/checkout@v4
        with:
          repository: kartverket/skvis-apps
          ref: main
          token: ${{ steps.octo-sts.outputs.token }}
      - name: Update version
        run: |
          echo "\"${{ needs.build.outputs.image_url }}\"" > "env/atgcp1-prod/ros-plugin-main/${{ env.ARGO_VERSION_FILE }}"
          git config --global user.email "noreply@kartverket.no"
          git config --global user.name "Backstage Plugin Risk Scorecard Backend CI"
          git commit -am "Update ros-backend ${{ env.ARGO_VERSION_FILE }}"
          git push