name: Build and deploy to Spire Cloud Run
on:
  push:
    paths-ignore:
      - docker-compose.yaml
      - README**
      - .github/CODEOWNERS
      - '.security/**'
      - '.gitignore'
    branches:
      - main

env:
  IMAGE_NAME: ${{ github.repository }}
  PROJECT_ID: 'spire-ros-5lmr'
  AR_REPO_LOCATION: 'europe-north1'
  AR_URL: 'europe-north1-docker.pkg.dev/spire-ros-5lmr/risc-plugin'
  SERVICE_ACCOUNT: 'risc-plugin-github-actions@spire-ros-5lmr.iam.gserviceaccount.com'
  WORKLOAD_IDENTITY_PROVIDER: 'projects/457384642040/locations/global/workloadIdentityPools/github-actions-pool/providers/github'


defaults:
  run:
    shell: bash

jobs:
  push_to_ar:
    name: 'Docker build and push to GCP'
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - id: auth
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          service_account: ${{ env.SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}

      - name: Configure Docker to use the gcloud command-line tool as a credential helper
        run: gcloud auth configure-docker ${{ env.AR_REPO_LOCATION }}-docker.pkg.dev --quiet

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0

      - name: Build docker image
        id: build-docker
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          push: false
          load: true
          tags: |
              ${{ env.AR_URL }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '24'
          architecture: 'x64'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: "8.14.3" # Quotes required to prevent YAML converting to number

      - name: Run smoketest
        uses: ./.github/actions/sops-smoketest
        with:
          image: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{ steps.build-docker.outputs.digest }}

      - name: Push the Docker image to Google Artifact Registry if test passes
        run: docker push --all-tags ${{ env.AR_URL }}/${{ env.IMAGE_NAME }}